<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
      
    
    <form class='problem-form' method="POST" action="/problems/">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Owner</label>
      <input required type="text" name="owner" class="form-control" placeholder="Enter Owner of Problem">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">ProblemName</label>
      <input required type="text" name="problemName" class="form-control" id="inputPassword4" placeholder="ProblemName">
    </div>
  </div>
   <div class="form-group">
    <label for="comment">Statement</label>
    <textarea required name="statement" class="form-control" rows="5" ></textarea>
   </div> 
  
<!-- INput and ouput details -->
  <div class="form-group">
    <label for="comment">Input Desciption</label>
    <textarea required name="input" class="form-control" rows="5" ></textarea>
   </div> 
   <div class="form-group">
    <label for="comment">Output Description</label>
    <textarea name="output" required class="form-control" rows="5" ></textarea>
   </div>


  <div class="form-group">
    <label for="comment">sampleinput</label>
    <textarea required name="sampleinput" class="form-control" rows="5" ></textarea>
   </div> 
   <div class="form-group">
    <label for="comment">sampleoutput</label>
    <textarea name="sampleoutput" required class="form-control" rows="5" ></textarea>
   </div> 
    <button type="button" class="testcases btn btn-secondary">Add Test cases</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        var tcNumber = 0;
        $('.testcases').on('click',()=>{
          //'problem-form'
          $('.testcases').before(`<div class="form-group">
    <label for="comment">Test Input ${tcNumber}</label>
    <textarea required name="testinput[${tcNumber}]" class="form-control" rows="5" id="comment"></textarea>
   </div> 
   <div class="form-group">
    <label for="comment">Test Output ${tcNumber}</label>
    <textarea name="testoutput[${tcNumber}]" required class="form-control" rows="5" id="comment"></textarea>
   </div> 
  `)
        tcNumber++;
        });
        

    </script>


  </body>
</html>